<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csei.devicesmanagement"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" >
    </uses-permission>

    <!-- 向SD卡写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 相机相关权限 -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_devicemanagement"
        android:label="@string/app_name1"
        android:theme="@style/AppTheme" >
        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" >
        </activity>
        <activity
            android:name=".StockInActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".StockOutActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".InstallActivity"
            android:launchMode="standard"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".UninstallActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".TransportActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name=".ScanCodeActivity"
            android:label="@string/title_activity_scan_code" >
        </activity>
    </application>

</manifest>